<div id="latest-posts">
    <h4>Latest posts ...</h4>
    <ul>
    {% for post in site.posts limit:5 %}
    <li><a href="{{ post.url }}">{{ post.title }}</a>
        <span class="date">{{ post.date | date_to_string }}</span>
    </li>
    {% endfor %}
    </ul>
</div>

<div id="tag-cloud">
    <h4>Posts with tag ...</h4>
    <div class="tags">
    {{ site | tag_cloud }}
    </div>
</div>