<nav>

  <a href="/" {% if page.url == "/" %} class="current" {% endif %}>Home</a>
  <a href="/archive/" {% if page.url == "/archive/" %} class="current" {% endif %}>Archives</a>
  <a href="/about/" {% if page.url == "/about/" %} class="current" {% endif %}>About</a>

  <div>Ruby@</div>
  <a href="https://twitter.com/RustedRedCabbit" target="_blank">Twitter 🐦</a>
  <a href="https://gitlab.com/rubidium-dev" target="_blank">Gitlab 🦊</a>

</nav>