<iframe id="gitlab" src="/gitlab.html"></iframe>
<div id="twitter">
    <a class="twitter-timeline" data-theme="dark" data-tweet-limit="6" data-chrome="nofooter transparent" data-link-color="#a28260"
        href="https://twitter.com/RustedRedCabbit?ref_src=twsrc%5Etfw">Tweets by RustedRedCabbit</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
