@font-face {
  font-family: "Droid Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/droid-sans.woff) format("woff"), url(../fonts/droid-sans.ttf) format("truetype");
}

@import "reset";

$background: #000;
$ruby-scale-1: #9a2d2c;
$ruby-scale-2: #ca3d3d;
$ruby-alt: #a28260;
$text-color: #f8dcd4;
$spot-yellow: #ffd879;

$head-font: "Anton", sans-serif;
$body-font: "Droid Sans", sans-serif;

$breakpoint: 600px;

body {
  height: 100vh;
  background-color: $background;
  color: $text-color;
  font-size: 16px;
  font-family: $body-font;
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: transparentize($text-color, 0.5);
    border: 1px solid transparent;
    border-radius: 5px;
  }
}

h1,
h2,
h3 {
  font-family: $head-font;
}

a,
a:visited {
  color: $text-color;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.layout {
  min-height: 100%;
  padding: 10px 10px 0 10px;
  display: grid;
  grid-template-columns: 110px 1fr 300px;
  grid-template-rows: 92px min-content 1fr;
  @media screen and (max-width: $breakpoint) {
    grid-template-columns: 0 1fr 0;
  }

  $curve-size: 20px;

  .curve {
    position: relative;
    border-style: solid;
    border-color: $background;
    border-width: 0;
    border-radius: $curve-size 0 0 0;
    background-color: $ruby-scale-1;
    content: " ";

    &::after {
      position: absolute;
      display: block;
      bottom: 0;
      right: 0;
      height: $curve-size;
      width: $curve-size;
      background-color: $background;
      border-style: solid;
      border-color: transparent;
      border-width: $curve-size 0 0 0;
      border-radius: $curve-size 0 0 0;
      content: " ";
    }
  }

  .solid {
    background-color: $ruby-scale-1;
    border-style: solid;
    border-color: $background;
    content: " ";

    &.h {
      border-width: 0 0 $curve-size 0;
    }

    &.v {
      border-width: 0 $curve-size 0 0;
    }
  }

  .banner {
    float: right;
    display: grid;
    grid-template-rows: 40px 22px;
    height: 100%;
    background-color: $background;
    padding: 0 8px;
    h2 {
      text-transform: uppercase;
    }
  }
}

nav {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(3, min-content) 1fr repeat(3, min-content);
  grid-column-gap: 8px;
  padding: 0 10px 0 0;
  @media screen and (max-width: $breakpoint) {
    grid-auto-flow: row;
    grid-template-columns: repeat(3, min-content);
    grid-template-rows: repeat(2, min-content);
  }
  & > * {
    white-space: nowrap;
    text-transform: uppercase;
    font-family: $head-font;
    font-size: 120%;
  }
  div {
    text-align: right;
    @media screen and (max-width: $breakpoint) {
      display: none;
    }
  }
  a.current,
  a.current:visited {
    color: $ruby-scale-2;
  }
}

.content {
  padding: 20px 10px 0 0;
  p {
    line-height: 1.4;
    margin: 0 0 10px 0;
    a,
    a:visited {
      color: $ruby-alt;
      text-decoration: underline;
      &::after {
        content: " 🐾";
      }
    }
    a:hover {
      color: $text-color;
    }
  }
  blockquote {
    line-height: 1.2;
  }
  ul {
    margin: 0 0 20px 20px;
    li {
      margin: 0 0 0 10px;
      line-height: 1.2;
      list-style-type: disc;
    }
  }
  @import "monokai";
  figure {
    padding: 20px 0;
    max-width: 100%;
    width: -moz-fit-content;
    width: fit-content;
    &.center {
      margin: 0 auto;
      figcaption {
        text-align: center;
      }
    }
    &.right {
      margin: 0 0 0 20px;
      float: right;
      figcaption {
        text-align: center;
      }
      &::after {
        clear: right;
      }
    }
    figcaption {
      font-size: 80%;
      font-style: italic;
      a,
      a:visited {
        color: $spot-yellow;
      }
    }
  }
  table {
    margin: 20px auto;
    border: none;
    border-collapse: collapse;
    thead {
      tr {
        vertical-align: middle;
      }
      th {
        text-align: left;
        font-weight: bold;
        padding: 4px 12px;
        border-bottom: 1px solid $text-color;
      }
    }
    tbody {
      tr {
        vertical-align: top;
      }
      td {
        text-align: left;
        padding: 4px 12px;
      }
    }
  }

  .posted {
    font-size: 80%;
    color: $spot-yellow;
    margin-bottom: 20px;
  }

  .tags {
    font-size: 80%;
    margin-top: 20px;
    a,
    a:visited {
      color: $spot-yellow;
      text-decoration: none;
      &::after {
        content: none;
      }
    }
    a:hover {
      text-decoration: underline;
    }
  }

  .latest {
    .latest_post {
      margin: 20px 0 40px 0;
      h4 {
        color: $spot-yellow;
        font-size: 80%;
        margin: 0 0 10px 0;
        a,
        a:visited {
          color: $spot-yellow;
        }
      }
    }
  }

  .archives {
    margin: 0;
    li {
      margin: 0 0 20px 0;
      list-style-type: none;
    }
    a,
    a:visited {
      color: $ruby-alt;
      text-decoration: underline;
      &::after {
        content: " 🐾";
      }
    }
  }
}

.pagination {
  font-size: 80%;
  a,
  a:visited {
    color: $spot-yellow;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}

.latest {
  h4 {
    font-family: $head-font;
    text-transform: uppercase;
    font-size: 120%;
    margin-bottom: 12px;
  }
  #latest-posts {
    margin-bottom: 34px;
    ul {
      border-left: 1px solid $text-color;
      li {
        margin: 0 0 8px 8px;
        a,
        a:visited {
          color: $ruby-alt;
          text-decoration: underline;
          &::after {
            content: " 🐾";
          }
        }
        span {
          display: block;
          color: $spot-yellow;
          font-size: 80%;
        }
      }
    }
  }
  #tag-cloud {
    $sets: (
      1: 80%,
      2: 100%,
      3: 120%,
      4: 140%,
      5: 160%,
    );
    $selector: ();
    @each $set, $size in $sets {
      $selector: append($selector, ".set-#{$set}", "comma");
    }
    #{$selector} {
      display: inline-block;
      padding: 0 4px;
      text-decoration: none;
      color: $spot-yellow;
      &:hover {
        text-decoration: underline;
      }
      &:visited {
        color: $spot-yellow;
      }
    }
    @each $set, $size in $sets {
      .set-#{$set} {
        font-size: $size;
      }
    }
    .tags {
      border-left: 1px solid $text-color;
      padding-left: 4px;
    }
  }
}

.feeds {
  display: grid;
  grid-template-rows: 430px 1fr;
  #gitlab {
    width: 100%;
    height: 420px;
    border: 0;
    overflow-x: hidden;
    overflow-y: auto;
  }
  #twitter {
    width: 100%;
  }
}

.gitlab_feed {
  display: grid;
  grid-auto-flow: row;
  .entry {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 40px 1fr;
    grid-template-rows: 40px 1fr;
    padding: 10px 0 0 0;
    h4 {
      padding: 0 8px 8px 8px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .summary {
      grid-column: 1 / span 2;
      padding: 8px 0;
      border-bottom: 1px solid $text-color;
      a,
      a:visited {
        color: $ruby-alt;
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
      i {
        font-style: normal;
      }
    }
  }
}
