---
title: Archives
---

<ul class="archives">
{% for post in paginator.posts %}
  <li><strong><a href="{{ post.url }}">{{ post.title }}</a></strong> •
    <span class="date">{{ post.date | date_to_string }}</span><br>
    {{ post.excerpt | strip_html | truncatewords: 70 }} <a href="{{ post.url }}">Read more ...</a>
  </li>
{% endfor %}
</ul>

{% if paginator.total_pages > 1 %}

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">
      Previous
    </a>
    •
  {% endif %}
  <span class="page_number ">
    Page: {{ paginator.page }} of {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
    •
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% endif %}
</div>

{% endif %}