<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    {% if page.tag %}
    <title>Posts with tag: {{ page.tag }} | rubidium.dev</title>
    {% else %}
    <title>{{ page.title }} | rubidium.dev</title>
    {% endif %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anton">
    <link rel="stylesheet" href="/assets/css/styles.css">
    {% if page.url == "/" or page.url == "/archive/" %}
    <link rel="alternate" type="application/atom+xml" href="/feed.xml">
    {% endif %}
    {% if page.excerpt %}
    <meta name="description" content="{{ page.excerpt | strip_html | replace: '\n', ' ' | truncatewords: 50 }}">
    <meta name="twitter:description" content="{{ page.excerpt | strip_html | replace: '\n', ' ' | truncatewords: 50 }}">
    {% else %}
    <meta name="description" content="{{ site.description }}">
    <meta name="twitter:description" content="{{ site.description }}">
    {% endif %}
    <meta property="og:title" content="{{ page.title }} | rubidium.dev">
    <meta property="og:site_name" content="{{ site.title }} | rubidium.dev">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@RustedRedCabbit">
    <meta name="twitter:title" content="{{ page.title }}">
    {% if page.card %}
    <meta name="twitter:image" content="{{ site.url }}{{ site.baseurl }}{{ page.card }}">
    <meta name="og:image" content="{{ site.url }}{{ site.baseurl }}{{ page.card }}">
    {% else %}
    <meta name="twitter:image" content="{{ site.url }}{{ site.baseurl }}/assets/images/card.png">
    <meta name="og:image" content="{{ site.url }}{{ site.baseurl }}/assets/images/card.png">
    {% endif %}
    {%include ga.html %}
</head>

<body>
    <div class="layout">
        <div class="curve"></div>
        <div class="solid h">
            <div class="banner">
                <h2>rubidium.dev</h2>
                <h3>Ruby's devblog</h3>
            </div>
        </div>
        <div class="solid h"></div>

        <div class="solid v"></div>
        <div>{% include nav.html %}</div>

        <div class="solid v" style="grid-row: 3; grid-column: 1;"></div>
        <div class="content" style="grid-row: 3; grid-column: 2;">
            {{ content }}
        </div>
        {% if page.url == "/" %}
            <div class="feeds" style="grid-row: 2 / span 2; grid-column: 3;">
                {% include social.html %}
            </div>
        {% else %}
            <div class="latest" style="grid-row: 2 / span 2; grid-column: 3;">
            {% include latest.html %}
            </div>
        {% endif %}
    </div>
    <!-- It's a secret to everybody. -->
</body>

</html>