---
layout: default
---
<h1>{{ page.title }}</h1>
<p class="posted">posted {{ page.date | date_to_string }} by Ruby</p>

{{ content }}

<p class="tags">Tags: 
    {% for tag in page.tags %}
    <a href="/tag/{{ tag | slugify }}.html">{{ tag }}</a>{% if tag != page.tags.last %},{% endif %}
    {% endfor %}
</p>