---
layout: default
---
<h1>Posts with tag: {{ page.tag }}</h1>
<ul class="archives">
    {% for post in page.posts %}
    <li><strong><a href="{{ post.url }}">{{ post.title }}</a></strong> •
        <span class="date">{{ post.date | date_to_string }}</span><br>
        {{ post.excerpt | strip_html | truncatewords: 100 }} <a href="{{ post.url }}">Read more ...</a>
    </li>
    {% endfor %}
</ul>